@tailwind base;
@tailwind components;
@tailwind utilities;

.des {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  display: -webkit-box;
}

html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1920px;
  margin: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}

.modal__backdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modal__container {
  background: #fff;
  border-radius: 5px;
  max-width: 100%;
  margin: 15px auto;
  padding: 15px;
  width: 700px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .modal__backdrop {
    overflow: scroll;
  }

  .modal__container {
    margin: 0;
  }
}
@media screen and (max-width: 1023px) {
  .modal__backdrop {
    overflow: scroll;
  }
}

body {
  position: relative;
}

.success-alert {
  width: 300px;
  padding: 18px;
  border-radius: 8px;
  background: #4caf50;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  color: white;
}
